* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main{
  width: 960px;
  margin: 50px auto;
}

.step-box{
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 10px;
  position: relative;
  border: 1px solid #eee;
}

.step-box:last-child{
  margin-right: 0;
}

.step-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-num{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.title{
  margin: 15px 0 5px;
}

@media screen and (max-width:768px) {
* {
  margin: 0 15px;/*変更点:0→0 15px;*/
}

main{
  width: 100%;/*変更点:960px→100%;*/
}

.step-box{
  float: none;/*変更点left→none*/
  width: 100%;/*変更点:32%→100%;*/
  margin: 20px 0;/*変更点:margin-right: 2%→margin: 20px 0;*/
}

.step-img1{
  width: 100%;/*変更点:150px→100%;*/
  margin-left: auto;/*変更点:追加*/
  margin-right: auto;/*変更点:追加*/
  padding-top: 70%;/*変更点:追加*/
  background-repeat: no-repeat;/*変更点:追加*/
  background-size: 100% auto;/*変更点:cover→ 100% auto;*/
  text-align: center;/*変更点:bottom→center;*/
}
.step-img2{
  width: 100%;/*変更点:150px→100%;*/
  margin-left: auto;/*変更点:追加*/
  margin-right: auto;/*変更点:追加*/
  padding-top: 70%;/*変更点:追加*/
  background-repeat: no-repeat;/*変更点:追加*/
  background-size: 100% auto;/*変更点:cover→ 100% auto;*/
  text-align: center;/*変更点:bottom→center;*/
}

.step-img3{
  width: 100%;/*変更点:150px→100%;*/
  margin-left: auto;/*変更点:追加*/
  margin-right: auto;/*変更点:追加*/
  padding-top: 70%;/*変更点:追加*/
  background-repeat: no-repeat;/*変更点:追加*/
  background-size: 100% auto;/*変更点:cover→ 100% auto;*/
  text-align: center;/*変更点:bottom→center;*/
}
.title{
  margin: 15px 25px 5px;/*変更点:15px 0 5px→15px 25px 5px;*/
}